display_name = "fk-entra-group-02"
description  = "FoggyKitchen example security group with explicit members."

user_principal_name_suffix = "example.com"
member_password            = "ChangeMe-12345!"
